[client]
default-character-set = utf8mb4
user = "vanillabrain"
password = "qkslffk123123"
host = "dev-sellerking-service.cpxfjdgipx1h.ap-northeast-2.rds.amazonaws.com"

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
default-character-set = utf8mb4
