@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'), url('assets/fonts/woff2-subset/Pretendard-Black.subset.woff2') format('woff2'), url('assets/fonts/woff-subset/Pretendard-Black.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'), url('assets/fonts/woff2-subset/Pretendard-ExtraBold.subset.woff2') format('woff2'), url('assets/fonts/woff-subset/Pretendard-ExtraBold.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url('assets/fonts/woff2-subset/Pretendard-Bold.subset.woff2') format('woff2'), url('assets/fonts/woff-subset/Pretendard-Bold.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url('assets/fonts/woff2-subset/Pretendard-SemiBold.subset.woff2') format('woff2'), url('assets/fonts/woff-subset/Pretendard-SemiBold.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url('assets/fonts/woff2-subset/Pretendard-Medium.subset.woff2') format('woff2'), url('assets/fonts/woff-subset/Pretendard-Medium.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url('assets/fonts/woff2-subset/Pretendard-Regular.subset.woff2') format('woff2'), url('assets/fonts/woff-subset/Pretendard-Regular.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url('assets/fonts/woff2-subset/Pretendard-Light.subset.woff2') format('woff2'), url('assets/fonts/woff-subset/Pretendard-Light.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'), url('assets/fonts/woff2-subset/Pretendard-ExtraLight.subset.woff2') format('woff2'), url('assets/fonts/woff-subset/Pretendard-ExtraLight.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'), url('assets/fonts/woff2-subset/Pretendard-Thin.subset.woff2') format('woff2'), url('assets/fonts/woff-subset/Pretendard-Thin.subset.woff') format('woff');
}

.react-resizable-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    background-image: url('assets/images/icon/ic-resize.svg');
    background-position: bottom right;
    padding: 0 5px 6px 0;
}

.react-grid-item > .react-resizable-handle::after {
    content: "";
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 5px;
    height: 5px;
    border-right: 0px solid rgba(0, 0, 0, 0.4);
    border-bottom: 0px solid rgba(0, 0, 0, 0.4);
}