/* common.css */
/* clearfix */
.clearfix::after,
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  width: 100%;
  height: 0;
}

/* blind */
.blind_wrap a > span,
.blind_wrap button > span,
.blind {
  display: block;
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  overflow: hidden;
}

.blind_wrap a {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* full */
.full,
.full_wrap a,
.full_wrap button {
  display: block;
  width: 100%;
  height: 100%;
}
